
torch==2.1.1
torchvision==0.16.1
torchaudio==2.1.1
xformers==0.0.23

numpy
scipy==1.9.3
pandas
matplotlib
scikit-learn
scikit-image
opencv-python==4.9.0.80
pillow
imageio
six
python-dateutil==2.9.0.post0



accelerate==0.28.0
timm==0.9.16
einops==0.7.0
omegaconf==2.3.0
loguru
tqdm
albumentations
loralib
lpips==0.1.4

pytorch-lightning==2.2.1
tensorboard==2.16.2
protobuf==4.25.3
facexlib==0.3.0
polars==1.12.0
torchsde==0.2.6
bitsandbytes==0.44.1
ftfy==6.2.0
regex==2023.12.25

transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
fairscale==0.4.4

gradio==3.50
